[config]
default_to_workspace = false

[tasks.before-build]
run_task = [
  { name = [
    "compose-up-db",
    "migrate",
  ] },
]

[tasks.dev]
args = ["run", "dev"]
command = "pnpm"

[tasks.type-check]
args = ["run", "tc"]
command = "pnpm"

[tasks.fmt]
args = ["run", "format:write"]
command = "pnpm"

[tasks.fmtc]
args = ["run", "format:check"]
command = "pnpm"

[tasks.check]
args = ["run", "check:check"]
command = "pnpm"

[tasks.lint]
args = ["run", "lint"]
command = "pnpm"

[tasks.gitpush]
dependencies = ["type-check", "fmtc", "lint", "check"]
script = [
  "branch=$(git rev-parse --abbrev-ref HEAD)",
  "git push origin $branch",
]
