[tools]
"cargo:taplo-cli" = "latest"
"go:github.com/google/yamlfmt/cmd/yamlfmt" = "latest"

[tasks.taplo]
description = "run toml formatter"
run = "taplo format"

[tasks.taplocheck]
description = "run toml check"
run = "taplo format --check"

[tasks.yamlfmt]
description = "run yaml formatter"
run = "yamlfmt ."

[tasks.yamlcheck]
description = "run yaml check"
run = "yamlfmt -lint ."

[tasks."lint:ci"]
run = [
  { tasks = ["taplocheck", "yamlcheck"] },
]

[tasks."frontend:ci"]
description = "ci for frontend"
dir = "frontend"
run = "mise run ci"

[tasks."backend:ci"]
description = "ci for backend"
dir = "backend"
run = "mise run ci"

[tasks.before-push]
run = [
  { tasks = ["frontend:ci", "lint:ci", "backend:ci"] },
]

[tasks.gitpush]
depends = ["before-push"]
run = '''
branch=$(git rev-parse --abbrev-ref HEAD)
git push origin $branch
'''
