[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "app"
path = "src/bin/main.rs"

[dependencies]
axum = { version = "0.8.6", features = ["macros"] }
tokio = { version = "1.47.1", features = ["full"] }

[dev-dependencies]
rstest = "0.26.1"
