[config]
default_to_workspace = false

[env]
ATCODER_PROBLEMS_BASE_ENDPOINT = "https://kenkoooo.com/atcoder"
DATABASE_NAME = "app"
DATABASE_PASSWORD = "password"
DATABASE_PORT_INNER = 5432
DATABASE_PORT_OUTER = 5432
DATABASE_USERNAME = "app"
ENV = "dev"
FIREBASE_PROJECT_ID = "atcoder-solutions"
HOST = "0.0.0.0"
PORT = 8080

[tasks.set-env-docker.env]
DATABASE_HOST = "postgres"
DATABASE_PORT = "${DATABASE_PORT_INNER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}"

[tasks.set-env-local.env]
DATABASE_HOST = "localhost"
DATABASE_PORT = "${DATABASE_PORT_OUTER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}"

[tasks.before-build]
run_task = [
  { name = [
    "compose-up-db",
    "migrate",
  ] },
]

[tasks.run]
args = ["run", "${@}"]
command = "cargo"
dependencies = ["before-build"]
extend = "set-env-local"

[tasks.build]
args = ["build", "${@}"]
command = "cargo"
dependencies = ["before-build"]
extend = "set-env-local"

[tasks.check]
args = ["check"]
command = "cargo"
dependencies = ["before-build"]
extend = "set-env-local"

[tasks.fmt]
args = ["fmt", "--all", "${@}"]
command = "cargo"
extend = "set-env-local"

[tasks.clippy]
args = ["clippy", "--all", "--all-targets", "${@}"]
command = "cargo"
extend = "set-env-local"

[tasks.test]
args = [
  "nextest",
  "run",
  "--workspace",
  "--status-level",
  "all",
  "--test-threads=1",
]
command = "cargo"
extend = "set-env-local"
install_crate = { crate_name = "cargo-nextest", binary = "cargo", test_arg = [
  "nextest",
  "--help",
] }

[tasks.migrate]
extend = "set-env-local"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help" }
script = '''
#!/bin/bash
until sqlx migrate run --source infrastructure/migrations; do
    sleep 1
done
'''

[tasks.sqlx]
args = ["${@}", "--source", "infrastructure/migrations"]
command = "sqlx"
extend = "set-env-local"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help" }

[tasks.psql]
args = [
  "run",
  "-it",
  "--rm",
  "--network",
  "host",
  "-v",
  "${PWD}:/work",
  "postgres:15",
  "psql",
  "${DATABASE_URL}",
  "${@}",
]
command = "docker"
extend = "set-env-local"

[tasks.initial-setup]
args = [
  "run",
  "-it",
  "--rm",
  "--network",
  "host",
  "-v",
  "${PWD}:/work",
  "postgres:15",
  "psql",
  "${DATABASE_URL}",
  "-f",
  "/work/data/initial_setup.sql",
]
command = "docker"
extend = "set-env-local"

[tasks.compose]
args = ["compose", "${@}"]
command = "docker"
extend = "set-env-docker"

[tasks.compose-up-db]
args = ["compose", "up", "-d", "postgres"]
command = "docker"
extend = "set-env-docker"

[tasks.compose-down]
args = ["compose", "down"]
command = "docker"
extend = "set-env-docker"

[tasks.ci-test]
dependencies = ["before-build"]
run_task = "test"

[tasks.ci-clippy]
args = [
  "clippy",
  "--all-targets",
  "--all-features",
  "--locked",
  "--",
  "-D",
  "warnings",
]
command = "cargo"

[tasks.ci-fmt]
args = ["fmt", "--all", "--", "--check"]
command = "cargo"

[tasks.gitpush]
dependencies = ["ci-test", "ci-clippy", "ci-fmt"]
script = [
  "branch=$(git rev-parse --abbrev-ref HEAD)",
  "git push origin $branch",
]
