[tools]
"cargo:cargo-nextest" = "latest"
"cargo:sqlx-cli" = "0.7.3"
rust = "1.89.0"
rust-analyzer = "2025-11-10"

[env]
ATCODER_PROBLEMS_BASE_ENDPOINT = "https://kenkoooo.com/atcoder"
ENV = "dev"
FIREBASE_PROJECT_ID = "atcoder-solutions"

DATABASE_HOST = "localhost"
DATABASE_NAME = "app"
DATABASE_PASSWORD = "password"
DATABASE_PORT = 5432
DATABASE_USERNAME = "app"

DATABASE_URL = "postgresql://{{env.DATABASE_HOST}}:{{env.DATABASE_PORT}}/{{env.DATABASE_NAME}}?user={{env.DATABASE_USERNAME}}&password={{env.DATABASE_PASSWORD}}"

[tasks.before-build]
run = [
  { task = "compose-up-db" },
  { task = "migrate" },
  { task = "initial-setup" },
]

[tasks.before-ci]
run = [
  { task = "compose-up-db" },
  { task = "migrate" },
]

[tasks.initial-setup]
run = "docker run -it --rm --network host -v {{cwd}}:/work postgres:15 psql '{{env.DATABASE_URL}}' -f /work/data/initial_setup.sql"

[tasks.compose-up-db]
run = "docker compose up -d postgres"

[tasks.compose-down]
run = "docker compose down"

[tasks.compose]
run = "docker compose ${usage_arg?}"
usage = '''
arg "<arg>" default=""
'''

[tasks.migrate]
run = '''
#!/bin/bash
until sqlx migrate run --source infrastructure/migrations; do
    sleep 1
done
'''

[tasks.run]
depends = ["before-build"]
run = "cargo run ${usage_arg?}"
usage = '''
arg "<arg>" default=""
'''

[tasks.build]
run = "cargo build ${usage_arg?}"
usage = '''
arg "<arg>" default=""
'''

[tasks."format:write"]
alias = "fmt"
run = "cargo fmt ${usage_arg?}"
usage = '''
arg "<arg>" default=""
'''

[tasks."format:check"]
alias = "fmtc"
run = "cargo fmt --all -- --check"

[tasks.clippy]
alias = "c"
run = "cargo clippy --all --all-targets --all-features --locked -- -D warnings"

[tasks.sqlx]
run = "sqlx ${usage_arg?} --source infrastructure/migrations"
usage = '''
arg "<arg>" default=""
'''

[tasks.psql]
run = "docker run -it --rm --network host -v {{cwd}}:/work postgres:15 psql '{{env.DATABASE_URL}}' ${usage_arg?}"
usage = '''
arg "<arg>" default=""
'''

[tasks.test]
depends = ["before-ci"]
run = "cargo nextest run --workspace --status-level all"

[tasks.ci]
depends = ["before-ci", "build"]
run = [
  { tasks = [
    "format:check",
    "clippy",
    "test",
  ] },
]
