[package]
name = "domain"
edition.workspace = true
publish.workspace = true
version.workspace = true

[dependencies]
async-trait.workspace = true
anyhow.workspace = true
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true
shared.workspace = true
strum.workspace = true
